* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Arial", "Helvetica", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.container {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 8px;
}
.btn {
    border: none;
    outline: none;
    padding: 0;
    display: inline-block;
    min-width: 93px;
    height: 37px;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
}
.section__heading--h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}
.section__sub-heading {
    margin-top: 25px;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}
/* ================Header=============== */
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}

.header__list > li {
    display: inline-block;
}
.header__item {
    color: #fff;
}
.header__list > li {
    position: relative;
}
.header__nav--n1 .nav-arrown-down {
    font-size: 12px;
}
.header__list > li:hover .header__sub-nav {
    display: block;
}
.header__list a {
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
.header__sub-nav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header__item--sub {
    color: #000;
}
.nav-arrown-down {
    font-size: 12px;
}

.search-btn {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
}
.search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
.header__list li:hover .header__item,
.header__item--sub:hover {
    color: black;
    background-color: #ccc;
}
/* Hero */
.hero {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(./img/slider/chicago.jpg) top center / cover no-repeat;
}
.hero .hero__container {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.hero__heading {
    font-weight: 500;
    font-size: 2.4rem;
}
.hero__desc {
    font-size: 1.5rem;
    margin-top: 25px;
}
/* =======================Band========================= */
.band__main-content {
    margin-top: 25px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
}
/* Member */
.band__member {
    margin-top: 32px;
    display: flex;
    padding-left: 46px;
    padding-right: 47px;
    justify-content: space-between;
}
.member__name {
    text-align: center;
    display: block;
}
.member__img {
    margin-top: 15px;
    width: 154px;
    height: 154px;
    object-fit: cover;
    border-radius: 4px;
}
/* ==================Tour====================== */
.tour {
    background-color: #000;
}
.tour__heading {
    color: #fff;
}
.tour__sub-heading {
    color: #fff;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket__quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Place */
.tour__place {
    margin-top: 32px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}
.tour__card {
    border-radius: 12px 12px 0 0;
}
.tour__card:hover .tour__place--img {
    opacity: 0.6;
}
.tour__place--img {
    width: 100%;
    display: block;
    border-radius: 12px 12px 0 0;
}
.tour__place--info {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place__name {
    font-weight: 600;
}
.tour__time {
    margin-top: 15px;
    color: #757575;
}
.tour__desc {
    margin-top: 15px;
    line-height: 1.4;
}
.tour__btn {
    min-width: 100px;
    margin-top: 15px;
}
/* ==================Contact=================== */
.contact__form {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.contact__info {
    width: 50%;
    font-size: 1.8rem;
    line-height: 1.5;
}
.contact__info p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-message {
    width: 100%;
    margin-top: 8px;
}
.contact__btn {
    float: right;
    border-radius: 4px;
    margin-top: 16px;
}
/* =====================Footer========================== */
.footer__social {
    padding: 64px 64px;
    text-align: center;
    font-size: 2.4rem;
}
.footer__social a {
    opacity: 0.6;
    color: black;
}
.footer__social a:hover {
    opacity: 0.4;
}
.footer__social a:not(:first-child) {
    margin-left: 8px;
}
.footer__sub {
    margin-top: 15px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.6);
}
